modules/stic_Sepe_Files/utils/XML_ACCD_v0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by DEEM35 (SEPE) -->
<!-- edited with XMLSpy v2008 rel. 2 sp1 (http://www.altova.com) by AppsPortables (Aplicaciones Portables) -->
<!--W3C Schema generated by XMLSpy v2007 rel. 3 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ENVIO_ACCD">
		<xs:annotation>
			<xs:documentation>Grupo de Cabecera</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ENVIO_MENSUAL"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ENVIO_MENSUAL">
		<xs:annotation>
			<xs:documentation>Grupo de Envío</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TIPO_FICHERO"/>
				<xs:element ref="CODIGO_CONVENIO"/>
				<xs:element ref="CODIGO_AGENCIA"/>
				<xs:element ref="AÑO_MES_ENVIO">
					<xs:annotation>
						<xs:documentation>Obligatorio En formato YYYYMM será el año y mes del envío. En envío de datos  de carácter anual, el mes (MM) tendrá obligatoriamente el valor 99
</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="ACCIONES_REALIZADAS"/>
				<xs:element ref="DATOS_AGREGADOS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TIPO_FICHERO">
		<xs:annotation>
			<xs:documentation>Tipo de Fichero deberá llevar SIEMPRE el valor "ACCD" que identifica este tipo de fichero</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="4"/>
				<xs:pattern value="ACCD"/>
				<xs:pattern value=""/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CODIGO_CONVENIO">
		<xs:annotation>
			<xs:documentation>Obligatorio: Identifica el convenio en cuyo marco se han realiado las acciones</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="10"/>
				<xs:pattern value="(0[0-9]|1[0-7]|9[9])CONV\d{4}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CODIGO_AGENCIA">
		<xs:annotation>
			<xs:documentation>Obligatorio: SI. Identificado de la Agencia de Colocación</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="10"/>
				<xs:pattern value="(UT|ut|(0[0-9]|1[0-9]|9[9]))([0-9]{8})"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AÑO_MES_ENVIO">
		<xs:annotation>
			<xs:documentation>Obligatorio En formato YYYYMM será el año y mes del envío. Debe ser anterior al mes de recepción del fichero y se rellena con el mes 99 en el caso de envíos anuales
</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="6"/>
				<xs:pattern value="20(1[0-9]|2[0-9])(0[1-9]|1[012])"/>
				<xs:pattern value="20(1[0-9]|2[0-9])99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ACCIONES_REALIZADAS">
		<xs:annotation>
			<xs:documentation>Elemento de grupo para agrupar acciones de las Agencias de Colocación.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="DATOS_ACCION" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DATOS_ACCION">
		<xs:annotation>
			<xs:documentation>Elemento de grupo de los datos de cada una de las acciones llevadas a cabo durante el mes por la Agencia de Colocación.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ID_TRABAJADOR"/>
				<xs:element ref="NOMBRE_TRABAJADOR"/>
				<xs:element ref="APELLIDO1_TRABAJADOR"/>
				<xs:element ref="APELLIDO2_TRABAJADOR"/>
				<xs:element ref="FECHA_NACIMIENTO"/>
				<xs:element ref="SEXO_TRABAJADOR"/>
				<xs:element ref="NIVEL_FORMATIVO">
					<xs:annotation>
						<xs:documentation>Obligatorio.
Formato de 2 posiciones con los valores siguientes:
00 - Sin estudios
10 - Nivel Básico
20 - Estudios secundarios
30 - Estudios post-secundarios
</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="DISCAPACIDAD"/>
				<xs:element ref="INMIGRANTE"/>
				<xs:element ref="PERCEPTOR"/>
				<xs:element ref="COLECTIVO_INSERCION"/>
				<xs:sequence minOccurs="0">
					<xs:element name="ACCION" minOccurs="0" maxOccurs="30">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="TIPO_ACCION">
									<xs:annotation>
										<xs:documentation>Tipo de acción ofertada y realizada por parte de la Agencia de Colocación al trabajador.
Formato de 1 posición con los posibles valores siguientes:
I - Acción de Información
E - Acción relacionada con oferta de empleo
O - Acción de Orientación+
F - Acción de Formación
			</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element ref="FECHA_INICIO_ACCION"/>
								<xs:element ref="FECHA_FINAL_ACCION"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:element ref="COLOCACION"/>
				<xs:element ref="TIPO_CONTRATO" minOccurs="0"/>
				<xs:element ref="FECHA_INICIO_CONTRATO" minOccurs="0"/>
				<xs:element ref="FECHA_FIN_CONTRATO" minOccurs="0"/>
				<xs:element ref="CIF_NIF_EMPRESA" minOccurs="0"/>
				<xs:element ref="RAZON_SOCIAL_EMPRESA" minOccurs="0"/>
				<xs:element ref="ERRORES" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ID_TRABAJADOR">
		<xs:annotation>
			<xs:documentation>Obligatorio. Formato alfanumérico de 9 caracteres, el último de los cuales es la letra de control. Los NIE se identificarán por un carácter alfanumérico en la primera posición. Solo se contemplan como tipos de documento NIF o NIE.
</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="9"/>
				<xs:pattern value="[XYZxyz]?[0-9]{7,8}[a-zA-Z]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="APELLIDO1_TRABAJADOR">
		<xs:annotation>
			<xs:documentation>Obligatorio.Formato alfanumérico de 20 posiciones.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="APELLIDO2_TRABAJADOR">
		<xs:annotation>
			<xs:documentation>No Obligatorio para el caso de trabajadores extranjeros: Formato alfanumérico de 20 posiciones.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NOMBRE_TRABAJADOR">
		<xs:annotation>
			<xs:documentation>Obligatorio: Formato alfanumérico de 15 posiciones.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FECHA_NACIMIENTO">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato de 8 posiciones con la Fecha de Nacimiento del trabajador en el momento de la acción.
</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="8"/>
				<xs:pattern value="\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SEXO_TRABAJADOR">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato numérico de 1 posición con el código del sexo que puede ser uno de los siguientes.
1 - Sexo Varón.
2 - Sexo Mujer.
</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NIVEL_FORMATIVO">
		<xs:annotation>
			<xs:documentation>Obligatorio.
Formato de 2 posiciones con los valores siguientes:
00 - Sin estudios
10 - Nivel Básico
20 - Estudios secundarios
30 - Estudios post-secundarios
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="2"/>
				<xs:enumeration value="00"/>
				<xs:enumeration value="10"/>
				<xs:enumeration value="20"/>
				<xs:enumeration value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DISCAPACIDAD">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato alfabetico de 1 posiciones con valor S si se trata de un trabajador con algún tipo de discapacidad y valor N si no lo es.
		</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
				<xs:pattern value="[SsNn]"/>
				<xs:enumeration value="S"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="INMIGRANTE">
		<xs:annotation>
			<xs:documentation>Obligatorio. Formato alfabetico de 1 posiciones con valor S si se trata de un trabajador extranjero y valor N si no lo es.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
				<xs:pattern value="[SsNn]"/>
				<xs:enumeration value="S"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PERCEPTOR">
		<xs:annotation>
			<xs:documentation>Obligatorio. Formato alfabetico de 1 posiciones con valor S si se trata de un trabajador perceptor de prestaciones por desempleo y valor N si no lo es.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
				<xs:pattern value="[SsNn]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="COLECTIVO_INSERCION">
		<xs:annotation>
			<xs:documentation>Obligatorio. Formato alfabetico de 1 posiciones con valor S si se trata de un trabajador perteneciente a alguno de los colectivos de inserción y valor N si no lo es.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
				<xs:pattern value="[SsNn]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="COLOCACION">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato alfabetico de 1 posiciones con valor S si se colocó y valor N si no se colocó.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
				<xs:pattern value="[SsNn]"/>
				<xs:enumeration value="S"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FECHA_INICIO_CONTRATO">
		<xs:annotation>
			<xs:documentation>NO Obligatorio. 
Será obligatorio rellenarlo en el caso de que COLOCACIÓN = "S"
Formato alfanumérico de 8 posiciones formato YYYYMMDD. Se informará con la fecha de inicio del contrato. 
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="8"/>
				<xs:pattern value="20(1[0-9]|2[0-9])(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FECHA_FIN_CONTRATO">
		<xs:annotation>
			<xs:documentation>NO Obligatorio. 
Será obligatorio rellenarlo en el caso de que COLOCACIÓN = "S"
Formato alfanumérico de 8 posiciones formato YYYYMMDD. Se informará con la fecha de fin del contrato en el caso de contratos temporales. 
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="8"/>
				<xs:pattern value="(20(1[0-9]|2[0-9])(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01]))?"/>
				<xs:pattern value=""/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TIPO_CONTRATO">
		<xs:annotation>
			<xs:documentation>Será obligatorio rellenarlo en el caso de que COLOCACIÓN = "S".
Formato numérico de 3 posiciones con los vaolres siguientes:
001 _ Indefinido Tiempo Completo
002 _ Indefinido Tiempo Parcial
003 _ Duración Determinada Tiempo Completo
004 _ Duración Determinada Tiempo Parcial
005 _ Fijo Discontinuo</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="3"/>
				<xs:pattern value="[\d]{3}"/>
				<xs:enumeration value="001"/>
				<xs:enumeration value="002"/>
				<xs:enumeration value="003"/>
				<xs:enumeration value="004"/>
				<xs:enumeration value="005"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CIF_NIF_EMPRESA">
		<xs:annotation>
			<xs:documentation>Será el CIF / NIF de la empresa que ha contratado al trabajador.
No Obligatorio
Será obligatorio rellenarlo en el caso de que COLOCACIÓN = "S"
Formato alfanumérico de 9 posiciones.
</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="9"/>
				<xs:pattern value="[XYZxyz]?[0-9]{7,8}[a-zA-Z]"/>
				<xs:pattern value="[a-zA-Z][0-9]{7}[a-zA-Z0-9]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RAZON_SOCIAL_EMPRESA">
		<xs:annotation>
			<xs:documentation>Será el nombre o razón Social de la empresa que ha contratado al trabajador.
NO Obligatorio
Será obligatorio rellenarlo en el caso de que COLOCACIÓN = "S"
Formato alfanumérico de 55 posiciones. 
</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="55"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ACCION">
		<xs:annotation>
			<xs:documentation>Elemento de grupo de los datos de cada una de las acciones llevadas a cabo durante el mes por la Agencia de Colocación al trabajador.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TIPO_ACCION">
		<xs:annotation>
			<xs:documentation>Tipo de acción ofertada y realizada por parte de la Agencia de Colocación al trabajador.

Formato de 1 posición con los posibles valores siguientes:

I - Acción de Información

E - Acción relacionada con oferta de empleo

O - Acción de Orientación

F - Acción de Formación

M - Oferta de Movilidad			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
				<xs:pattern value="[IiEeOoFfMm]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FECHA_INICIO_ACCION">
		<xs:annotation>
			<xs:documentation>Alfanumérico de 8 posiciones formato YYYYMMDD en el caso de venir rellena</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="8"/>
				<xs:pattern value="20(1[0-9]|2[0-9])(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FECHA_FINAL_ACCION">
		<xs:annotation>
			<xs:documentation>Alfanumérico de 8 posiciones formato YYYYMMDD en el caso de venir rellena</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="8"/>
				<xs:pattern value="20(1[0-9]|2[0-9])(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DATOS_AGREGADOS">
		<xs:annotation>
			<xs:documentation>Elemento de grupo para datos con los contadores agregados mensuales y anuales</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TOTAL_PERSONAS_ATENDIDAS"/>
				<xs:element ref="TOTAL_PERSONAS_PERCEPTORES"/>
				<xs:element ref="TOTAL_PERSONAS_INSERCION"/>
				<xs:element ref="TOTAL_OFERTAS"/>
				<xs:element ref="TOTAL_PUESTOS"/>
				<xs:element ref="TOTAL_OFERTAS_CUBIERTAS"/>
				<xs:element ref="TOTAL_PUESTOS_CUBIERTOS"/>
				<xs:element ref="TOTAL_CONTRATOS"/>
				<xs:element ref="TOTAL_CONTRATOS_INDEFINIDOS"/>
				<xs:element ref="TOTAL_PERSONAS_ENVIADAS"/>
				<xs:element ref="TOTAL_PERSONAS_COLOCADAS"/>
				<xs:element ref="TOTAL_PERSONAS_ACCIONES"/>
				<xs:element ref="TOTAL_PERSONAS_ACCIONES_ORIENTACION"/>
				<xs:element ref="TOTAL_PERSONAS_ACCIONES_INFORMACION"/>
				<xs:element ref="TOTAL_PERSONAS_ACCIONES_FORMACION"/>
				<xs:element ref="ERRORES" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TOTAL_PERSONAS_ATENDIDAS" type="xs:int">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato numérico de 10 posiciones con el número de personas atendidas en el mes.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TOTAL_PERSONAS_PERCEPTORES" type="xs:int">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato numérico de 10 posiciones con el número de personas atendidas en el mes perceptoras de prestaciones por desempleo.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TOTAL_PERSONAS_INSERCION" type="xs:int">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato numérico de 10 posiciones con el número de personas atendidas en el mes pertenecientes a colectivos con dificultades de inserción.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TOTAL_OFERTAS" type="xs:int">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato numérico de 10 posiciones con el número de ofertas de trabajo captadas en el mes como resultado de su actividad de intermediación.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TOTAL_PUESTOS" type="xs:int">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato numérico de 10 posiciones con el número de puestos de trabajo captados en el mes como resultado de su actividad de intermediación.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TOTAL_OFERTAS_CUBIERTAS" type="xs:int">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato numérico de 10 posiciones con el número de ofertas de trabajo cubiertas en el mes con las personas atendidas como resultado de su actividad de intermediación.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TOTAL_PUESTOS_CUBIERTOS" type="xs:int">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato numérico de 10 posiciones con el número de puestos de trabajo cubiertos en el mes con las personas atendidas como resultado de su actividad de intermediación.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TOTAL_CONTRATOS" type="xs:int">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato numérico de 10 posiciones con el número de contratos de trabajo suscritos en el mes por las personas atendidas.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TOTAL_CONTRATOS_INDEFINIDOS" type="xs:int">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato numérico de 10 posiciones con el número de contratos de trabajo indefinidos suscritos en el mes por las personas atendidas.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TOTAL_PERSONAS_ENVIADAS" type="xs:int">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato numérico de 10 posiciones con el número de personas enviadas a ofertas de empleo por la Agencia en el periodo.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TOTAL_PERSONAS_COLOCADAS" type="xs:int">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato numérico de 10 posiciones con el número total de personas colocadas por actuaciones de la agencia de colocación durante el periodo informado</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TOTAL_PERSONAS_ACCIONES" type="xs:int">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato numérico de 10 posiciones con el número total de personas enviadas a acciones por la agencia de colocación durante el periodo informado</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TOTAL_PERSONAS_ACCIONES_INFORMACION" type="xs:int">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato numérico de 10 posiciones con el número total de personas enviadas a acciones de información por la agencia de colocación durante el periodo informado</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TOTAL_PERSONAS_ACCIONES_ORIENTACION" type="xs:int">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato numérico de 10 posiciones con el número total de personas enviadas a acciones de orientación por la agencia de colocación durante el periodo informado</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TOTAL_PERSONAS_ACCIONES_FORMACION" type="xs:int">
		<xs:annotation>
			<xs:documentation>Obligatorio
Formato numérico de 10 posiciones con el número total de personas enviadas a acciones de formación por la agencia de colocación durante el periodo informado</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ERRORES">
		<xs:annotation>
			<xs:documentation>Elemento de grupo con el resultado de las validaciones de los datos enviados por la Agencia de Colocación.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="RETORNO_ERROR" minOccurs="0" maxOccurs="20">
					<xs:annotation>
						<xs:documentation>Literal de retorno correcto o error producido</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RETORNO_ERROR">
		<xs:annotation>
			<xs:documentation>Literal de retorno correcto o Error producido</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="192"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
