modules/stic_Sepe_Files/utils/XML_ACCI_v0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2008 rel. 2 sp1 (http://www.altova.com) by AppsPortables (Aplicaciones Portables) -->
<!--W3C Schema generated by XMLSpy v2007 rel. 3 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TIPO_FICHERO">
		<xs:annotation>
			<xs:documentation>Tipo de Fichero deberá llevar SIEMPRE el valor "ACCD" que identifica este tipo de fichero</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="4"/>
				<xs:pattern value="ACCI"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CODIGO_CONVENIO">
		<xs:annotation>
			<xs:documentation>Obligatorio: Identifica el convenio en cuyo marco se han realiado las acciones</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="10"/>
				<xs:pattern value="(0[0-9]|1[0-7]|9[9])CONV\d{4}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ENVIO_ACCI">
		<xs:annotation>
			<xs:documentation>Grupo de Cabecera</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ENVIO_MENSUAL"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ENVIO_MENSUAL">
		<xs:annotation>
			<xs:documentation>Grupo de Envío</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TIPO_FICHERO"/>
				<xs:element ref="CODIGO_CONVENIO"/>
				<xs:element ref="CODIGO_AGENCIA"/>
				<xs:element ref="AÑO_MES_ENVIO">
					<xs:annotation>
						<xs:documentation>Obligatorio En formato YYYYMM será el año y mes del envío. En envío de datos  de carácter anual, el mes (MM) tendrá obligatoriamente el valor 99
</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="INCIDENCIAS_LOCALIZADAS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="INCIDENCIAS_LOCALIZADAS">
		<xs:annotation>
			<xs:documentation>Elemento de grupo para agrupar acciones de las Agencias de Colocación.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="INCIDENCIA" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ERRORES">
		<xs:annotation>
			<xs:documentation>Elemento de grupo con el resultado de las validaciones de los datos enviados por la Agencia de Colocación.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="RETORNO_ERROR" minOccurs="0" maxOccurs="20">
					<xs:annotation>
						<xs:documentation>Literal de retorno correcto o error producido</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="INCIDENCIA">
		<xs:annotation>
			<xs:documentation>Elemento de grupo de los datos de cada una de las acciones llevadas a cabo durante el mes por la Agencia de Colocación.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ID_TRABAJADOR"/>
				<xs:element ref="NOMBRE_TRABAJADOR"/>
				<xs:element ref="APELLIDO1_TRABAJADOR"/>
				<xs:element ref="APELLIDO2_TRABAJADOR"/>
				<xs:element ref="TIPO_INCIDENCIA"/>
				<xs:element ref="FECHA_INCIDENCIA"/>
				<xs:element ref="ERRORES" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CODIGO_AGENCIA">
		<xs:annotation>
			<xs:documentation>Obligatorio: SI. Identificado de la Agencia de Colocación</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="10"/>
				<xs:pattern value="(UT|ut|(0[0-9]|1[0-9]|9[9]))([0-9]{8})"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AÑO_MES_ENVIO">
		<xs:annotation>
			<xs:documentation>Obligatorio En formato YYYYMM será el año y mes del envío. Debe ser anterior al mes de recepción del fichero y se rellena con el mes 99 en el caso de envíos anuales
</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="6"/>
				<xs:pattern value="20(1[0-9]|2[0-9])(0[1-9]|1[012])"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ID_TRABAJADOR">
		<xs:annotation>
			<xs:documentation>Obligatorio. Formato alfanumérico de 9 caracteres, el último de los cuales es la letra de control. Los NIE se identificarán por un carácter alfanumérico en la primera posición. Solo se contemplan como tipos de documento NIF o NIE.
</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="9"/>
				<xs:pattern value="[XYZxyz]?[0-9]{7,8}[a-zA-Z]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="APELLIDO1_TRABAJADOR">
		<xs:annotation>
			<xs:documentation>Obligatorio.Formato alfanumérico de 20 posiciones.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="APELLIDO2_TRABAJADOR">
		<xs:annotation>
			<xs:documentation>No Obligatorio para el caso de trabajadores extranjeros: Formato alfanumérico de 20 posiciones.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NOMBRE_TRABAJADOR">
		<xs:annotation>
			<xs:documentation>Obligatorio: Formato alfanumérico de 15 posiciones.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TIPO_INCIDENCIA">
		<xs:annotation>
			<xs:documentation>Obligatorio.
Formato numérico de 3 posiciones indicando el tipo de incidencia o incumplimiento con los valores siguientes:
I01 - No comparecer ante la ACC.
I02 - Negativa a participar en acciones de orientación.
I03 - Negativa a participar en acciones de formación.
I04 - Rechazo a oferta de empleo.
Z01 - Imposibilidad de contactar con la persona.
Z02 - Enfermedad o incapacidad temporal.
Z03 - La persona ya está trabajando.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="3"/>
				<xs:enumeration value="I01"/>
				<xs:enumeration value="I02"/>
				<xs:enumeration value="I03"/>
				<xs:enumeration value="I04"/>
				<xs:enumeration value="Z01"/>
				<xs:enumeration value="Z02"/>
				<xs:enumeration value="Z03"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FECHA_INCIDENCIA">
		<xs:annotation>
			<xs:documentation>Obligatorio. 
Formato alfanumérico de 8 posiciones formato YYYYMMDD. Se informará con la fecha de la incidencia localizada. 
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="8"/>
				<xs:pattern value="20(1[0-9]|2[0-9])(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RETORNO_ERROR">
		<xs:annotation>
			<xs:documentation>Literal de retorno correcto o Error producido</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="192"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
